body{
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    background-image: url("prinfon.png");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.logo{
    width: 450px;
}

.card{
    transition: transform .4s ease, box-shadow .4s ease;
    border-radius:10px;
}

.card:hover{
    transform: translateY(-20px);
    background-color: rgb(206, 206, 202);
}

.btn{
    border-radius: 20px;
}

#lista .card{
    border-left: 5px solid green;
}

@media(max-width:768px){

.hero{
padding: 50px 10px;
}

.hero h1{
font-size: 2rem;
}

}
/* BOTÓN VOLVER ARRIBA */

#btnArriba{

position:fixed;
bottom:20px;
right:20px;

width:50px;
height:50px;

border:none;
border-radius:50%;

background:#198754;
color:white;

font-size:22px;

cursor:pointer;

display:none;

transition:.3s;

z-index:1000;

}

#btnArriba:hover{

transform:scale(1.1);

background:#146c43;

}
.text-danger{
    font-size:14px;
    margin-top:5px;
}

#listaRegistros .card{
    margin-top:15px;
}

.is-valid{
    border:2px solid #198754 !important;
}

.is-invalid{
    border:2px solid #dc3545 !important;
}